@first-column-width: 22.5;
@preferred-item-offset: 15px;
@dark-gray-background: #595959;
@light-gray-background: #636363;
@dark-orange-background: #e39800;
@light-orange-background: #fdaf17;
@light-table-row: #f8f8f8;
@dark-table-row: #f0f0f0;

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

.gradient (@startColor, @endColor) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
  border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.border-radius (@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}

.divider{
  width: 100%;
  height: 1em;
}

.divider--md{
  display: none;
}

.divider--xs{
  display: none;
}

.item{
  width: percentage((100-@first-column-width)/4/100);
  color: @light-gray-background;
  align-content: center;
  text-align: center;
  margin-top: 16px;
}

.item--preferred {
  position: relative;
  .box-shadow(0 5px 10px 1px fade(darken(@dark-table-row,20%),50%));
  border: none;
  margin-top: 0;
}

.every-item-child(){
  width: 100%;
}

.item--header{
  width: percentage(@first-column-width/100);
}

.item--header-xs{
  display: none;
  border-right: 1px solid #fff;
}

.item--header-md{
  display: none;
}

.item--second{
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.item__table-cell--first{
  text-align: left;
  padding-left: 23px;
}

.item__header{
  color: #fff;
  .every-item-child();
}

.item__header--first{
  visibility: hidden;
}

.item__name{
  background-color: @dark-gray-background;
  line-height: 3em;
  font-size: 0.9em;
  font-weight: 500;
  border-bottom: 1px solid lighten(@light-gray-background, 10%);
}

.item__name--preferred{
  background-color: @dark-orange-background;
  border-bottom: 1px solid lighten(@light-orange-background, 10%);
}

.item__price{
  background-color: @light-gray-background;
  padding-top: 0.5em;
  padding-bottom:1.2em;
}
.item__price--preferred{
  background-color: @light-orange-background;
 }

.price__value{
  font-weight: bold;
  font-size: 2.5em;
}

.price__value--preferred{
  font-size: 3.2em;
}

.price__period{
  font-size: 0.8em;
}

.item__table-cell{
  .every-item-child();
  line-height: 3.2em;
  font-size: 0.9em;
}

.item__table-cell--normal:nth-of-type(2N+3){
  background-color: @dark-table-row;
}

.item__table-cell--normal:nth-of-type(2N+4){
  background-color: @light-table-row;
}

.item__table-cell--preferred:nth-of-type(2N+3){
  background-color: lighten(@dark-table-row, 3%);
}

.item__table-cell--preferred:nth-of-type(2N+4){
  background-color: lighten(@light-table-row,3%);
}

.item__order-field{
  .every-item-child();
  background-color: @light-gray-background;
  border-bottom: 5px solid @dark-gray-background;
  padding: 2em 0;
}

.item__order-field--first{
  visibility: hidden;
}

.item__order-field--preferred{
  background-color: @light-orange-background;
  border-bottom: 5px solid @dark-orange-background;
  padding: 2.4em 0;
}

.order-btn{
  .border-radius(30px);
  color: #fff;
  padding: 7px 25px;
  line-height: 1.6em;
  font-size: 0.9em;
  text-align: center;
  align-content: center;
}

.order-btn--normal{
  background-color: @light-orange-background;
  //.gradient(@light-orange-background, darken(@light-orange-background, 15%));
  .gradient(lighten(@light-orange-background,0%), @dark-orange-background);
  border: 4px solid #000;
}

.order-btn--preferred{
  background-color: @dark-gray-background;
  //.gradient(@dark-gray-background, darken(@dark-gray-background, 50%));
  .gradient(lighten(@light-gray-background,0%), #2b2b2b);
  border: 4px solid #fff;
}

.fa{
  font-size: 1.75em;
}

.fa-check{
  color: #9CB841;
}

.fa-times{
  color: #EA6635;
}

@media (max-width: 567px) {
  .flex-container{
    min-width: 420px;
    overflow-x: scroll;
  }
  .divider--xs{
    display: block;
  }
  .divider--md{
    display: block;
  }
  .item{
    width: 60%;
  }

  .item--header{
    width: 40%;
  }
  .item--header-xs{
    display: block;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .divider--xs{
    display: block;
  }
  .divider--md{
    display: block;
  }
  .item{
    flex-grow: 5;
  }

  .item--header{
    flex-grow: 1;
    flex-shrink: 3;
  }
  .item--header-xs{
     display: block;
   }
}

@media (min-width: 768px) and (max-width: 959px) {
  .item{
    flex-grow: 2;
  }

  .item--header{
    flex-grow: 1;
  }

  .item--header-md{
    display: block;
  }

  .divider--md{
    display: block;
  }
}

@media (min-width: 960px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
  .flex-container{
    max-width: 1080px;
  }
}